$white: #f0f0f0;
$red: #d63031;
$duration: 1s;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

a , p {
    // display: inline-block;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}
p {
    font-weight: 300;
    color: rgba(255, 255, 255, .7);
    a {
        font-weight: normal;
        margin: 0 2px;
        color: rgba(255, 255, 255, 1);
    }
}
// p:has(> `a) {
//         opacity: 0;
// }
  
  
a {
    &:before {
        content: '';
        position: absolute;
        background-color: $white;
        opacity: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: white;
        transform:  translateX(-100%);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:hover,
    &:focus {
        // color: #fab1a0;
        text-decoration:none;
    }
    &:hover {
        &:before {
            opacity: 1;
            transition: transform $duration $easeOutBack, opacity $duration;
            transform:  translateX(0);
        }
    }

}
.App {
    text-align: center;

    .App-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        .header {
            display:flex;
            justify-content: space-between;
            padding: 5px;
        }
        .centerContent {
            display: flex;
            background: transparent;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
            // padding: 20px 0;
 
            transition: opacity .2s ease;
            > * {
                margin-bottom: 10px;
            }
            h1 {
                font-size: 10vw;
            }
            &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    z-index: -1;
                
                    display: flex;
                    background: rgba(0,0,0, 0.5);
                    // background: rgba(99, 110, 114,0.5);
                    // background-image: url('./background.jpg');
                    width: 100%;
                    height: 100%;
                
                    // filter: blur(4px);
                    
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: all 1s ease;                
            }
            .flex-row {
                margin-top: 50px;
            }
        }
        .footer {
            display:flex;
            justify-content: space-between;
            padding: 5px;
            padding-right: 20px;
            
            > * {
                display: flex;
                justify-content: flex-end;
                flex-direction: row;
                align-items: flex-end;
                svg.heart {
                    margin: 7px 10px;
                }
            }
        }
    }
    .socialLinks {
        a {
            margin-right: 10px;
        }
    }
}

.flex-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
}

svg.heart {
    width: 15px;
    height: 15px;
    fill: $red;
    opacity: .7;
    margin: 7px 10px;
    margin-bottom: 0;
    &:hover {
        opacity: 1;
    }
}
.scrollable {
    display: block;
    position: relative;
    max-height: 20vh;
    padding: 5px;
    padding-right: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    > * {
        display: block;
        overflow: visible;
    }
    // max-height: 100px;
    &::-webkit-scrollbar {
        width: 1px;
        background-color: rgba(255,255,255,.3);
    } 
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,1);
    }
}


.hide-md {
    display: none !important;
}

@media (max-width: 400px) {
    .App {
        .footer {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
        }
    }
    .hide-md {
        display: flex !important;
    }
    .show-md {
        display: none !important;
    }
}

@media (max-width: 350px) {
    .App .App-container .centerContent {
        padding: 0 10px;
        .socialLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.App:before{
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('./background.jpg');
    width: 100%;
    height: 100%;

    // filter: blur(5px);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: filter 1s ease;
}

.grayscaled:before {
    filter: grayscale(100%) !important
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: rgba(0,0,0, 0.3);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
